/* cards.module.css */
.cardContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.cardsHeader {
   font-size: 2rem;
   color: #333;
   margin: 20px 0;
}

.cardsFilters {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin-bottom: 20px;
}

.cardsFilters label {
   font-size: 1rem;
   color: #555;
   margin-right: 10px;
}

.cardsFilters select {
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 8px;
   font-size: 1rem;
   margin: 10px 0;
}

.cardsFilters button {
   background-color: #3f51b5;
   color: #fff;
   font-size: 1rem;
   border: none;
   padding: 8px 15px;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s;
   font-weight: bold;
}

.cardsFilters button:hover {
   background-color: #2c387e;
}